In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

#Getting information about the dataset using the info() method

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [5]:
print(df.head(3)) 
# using the .head() method to specify the number of top rows and using the .tail() to specify the number of bottom rows

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

Reading Data
# 1: Reading headers

In [6]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# 2: Reading each column

In [7]:
print(df [['Name', 'Type 1', 'Type 2', 'HP', 'Defense']] [0:20+1])

                         Name  Type 1  Type 2  HP  Defense
0                   Bulbasaur   Grass  Poison  45       49
1                     Ivysaur   Grass  Poison  60       63
2                    Venusaur   Grass  Poison  80       83
3       VenusaurMega Venusaur   Grass  Poison  80      123
4                  Charmander    Fire     NaN  39       43
5                  Charmeleon    Fire     NaN  58       58
6                   Charizard    Fire  Flying  78       78
7   CharizardMega Charizard X    Fire  Dragon  78      111
8   CharizardMega Charizard Y    Fire  Flying  78       78
9                    Squirtle   Water     NaN  44       65
10                  Wartortle   Water     NaN  59       80
11                  Blastoise   Water     NaN  79      100
12    BlastoiseMega Blastoise   Water     NaN  79      120
13                   Caterpie     Bug     NaN  45       35
14                    Metapod     Bug     NaN  50       55
15                 Butterfree     Bug  Flying  60       50
16                     Weedle     Bug  Poison  40       30
17                     Kakuna     Bug  Poison  45       50
18                   Beedrill     Bug  Poison  65       40
19      BeedrillMega Beedrill     Bug  Poison  65       40
20                     Pidgey  Normal  Flying  40       40

# 3: Reading Rows
    using the iloc[] also known as integer location and loc[] attributes to select specific rows to print out.

In [8]:
df.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [9]:
print(df.iloc[0:5+1])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60
5  5             Charmeleon   Fire     NaN  58      64       58       80

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False

# Reading data from specific locations using the .iloc[] and .loc[] attributes: 
    Example:
     Getting the 'Venusaur' name in the 2nd row  using the iloc[] attrubute
     Geeting specific textual information from the tables using the .loc[] attribute

In [10]:
df.iloc[2,1]

'Venusaur'

In [11]:
df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Sorting and Describing:

In [12]:
df.sort_values('Name', ascending = True) #arranging in alphabetical order or without including the asceding var

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [13]:
df.sort_values(['Type 1','HP'], ascending = [1,0]) 
    #Type 1 goes from A-z qhile HP is in descending order.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [14]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Making Changes to the Data
# Adding a Total column.

In [54]:
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Speed']

#Similar Method => df['Total'] = df.iloc[:, 4:10].sum(axis=1)

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,253,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,325,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,425,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,505,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,259,1,False

#dropping the duplicated Totals column  

df.drop(columns= ['Totals'])

#Changing the order of the DataFrame columns. 
#In this case, changing the position of the Tota column

In [55]:
cols = list(df.columns.values)
df = df[['#', 'Name', 'Type 1','Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk','Sp. Def','Speed', 'Total', 'Generation', 'Legendary' ]]
# similar to indexing with range : df = df[cols[0:4]+ [cols[-1]]+cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,253,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,325,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,425,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,505,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,259,1,False

Saving our Data by Exporting into a Desired Format

In [56]:
# Using the built-in function .to_csv() or .to_excel() to save the desired format.
df.to_csv('Updated.csv', index = False)
#removing the extra indexing

Filtering Data
# Filtering Type 1 & 2 columns with Grass and Poison and hose HP values is greater than 70
# Creating a new DataFrame from the filtered data
# Creating a new csv document from the DataFrame

In [57]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,425,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,505,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,400,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,420,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,384,5,False

In [58]:
New_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [59]:
New_df.to_csv('HPfiltered.csv')

In [60]:
#Resetting and dropping the old index
New_df = New_df.reset_index(drop = True)
New_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,425,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,505,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,400,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,420,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,384,5,False

Conditional Changes
# Changing a the string Fire to Flamer

In [62]:
df.loc[df['Type 1'] == 'Fire', 'Type 1']= 'Flamer'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,253,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,325,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,425,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,505,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,259,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,450,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,590,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,470,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,550,6,True
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,510,6,True

Aggregate Statistics(Groupby)

In [64]:
df = pd.read_csv("Updated.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,253,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,325,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,425,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,505,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,259,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,450,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,590,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,470,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,550,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,510,6,True

In [69]:
#Checking the average of all the Type 1 pokemons
df.groupby(['Type 1']).mean()

/tmp/ipykernel_31321/646643349.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,314.130435,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,376.225806,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,461.687500,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,369.704545,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,328.470588,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,351.740741,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,385.865385,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,412.500000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,363.093750,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,350.714286,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,374.750000,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,357.166667,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,337.959184,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,334.750000,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,389.666667,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,378.272727,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,407.074074,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,359.937500,2.857143,0.035714

In [73]:
#Sorting values 
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

/tmp/ipykernel_31321/1477095029.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,461.687500,3.875000,0.375000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,351.740741,3.370370,0.000000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,374.750000,3.156250,0.125000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,378.272727,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,407.074074,3.851852,0.148148
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,376.225806,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,385.865385,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,412.500000,5.500000,0.500000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,334.750000,2.535714,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,359.937500,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,363.093750,4.187500,0.062500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,337.959184,3.051020,0.020408
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,350.714286,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,357.166667,3.541667,0.083333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,389.666667,3.385965,0.245614
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,314.130435,3.217391,0.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,369.704545,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,328.470588,4.117647,0.058824

In [79]:
#Counting the pokemons in Type 1 column and getting only the count column 
df['count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64