In [4]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

In [6]:
print(df.head(3)) 
# using the .head() method to specify the number of top rows and using the .tail() to specify the number of bottom rows

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

Reading Data
# 1: reading headers

In [7]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# 2: Reading each column

In [12]:
print(df [['Name', 'Type 1', 'Type 2', 'HP', 'Defense']] [0:20+1])

                         Name  Type 1  Type 2  HP  Defense
0                   Bulbasaur   Grass  Poison  45       49
1                     Ivysaur   Grass  Poison  60       63
2                    Venusaur   Grass  Poison  80       83
3       VenusaurMega Venusaur   Grass  Poison  80      123
4                  Charmander    Fire     NaN  39       43
5                  Charmeleon    Fire     NaN  58       58
6                   Charizard    Fire  Flying  78       78
7   CharizardMega Charizard X    Fire  Dragon  78      111
8   CharizardMega Charizard Y    Fire  Flying  78       78
9                    Squirtle   Water     NaN  44       65
10                  Wartortle   Water     NaN  59       80
11                  Blastoise   Water     NaN  79      100
12    BlastoiseMega Blastoise   Water     NaN  79      120
13                   Caterpie     Bug     NaN  45       35
14                    Metapod     Bug     NaN  50       55
15                 Butterfree     Bug  Flying  60       50
16                     Weedle     Bug  Poison  40       30
17                     Kakuna     Bug  Poison  45       50
18                   Beedrill     Bug  Poison  65       40
19      BeedrillMega Beedrill     Bug  Poison  65       40
20                     Pidgey  Normal  Flying  40       40

# 3: Reading Rows
    using the iloc[] also known as integer location and loc[] attributes to select specific rows to print out.

In [18]:
df.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [21]:
print(df.iloc[0:5+1])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60
5  5             Charmeleon   Fire     NaN  58      64       58       80

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False

# Reading specific location: Example
     Getting the 'Venusaur' name in the 2nd row

In [22]:
df.iloc[2,1]

'Venusaur'